*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    :root{
        --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
        --Light-Grayish-Magenta: hsl(300, 24%, 96%);
        --White: hsl(0, 0%, 100%);
        --Very-Dark-Magenta: hsl(300, 43%, 22%);
        --Soft-Pink: hsl(333, 80%, 67%);
    }
    .entertainment1{
        background-image:url(./entertainment\ 3b.jpg);
        background-repeat: no-repeat ;
        background-size:cover;
        width: 100%;
        height:800px;
        padding: 100px;
}
    .global{
        color: white;
        font-size: 50px;
        font-weight: 80px;

}
    .music{
        color: pink;
        font-style: italic;
        font-weight: 200px;
        font-size: 250px;
}
.entertainment2{
    background-image: url(./entertainment\ 2b.jpg);
    background-repeat: no-repeat ;
    background-size:cover;
    width: 100%;
    height:800px;
    padding: 100px;
}
.name{
    color:white;
    font-size: 30px;
    font-weight:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-style: italic; */

}
.date{
    color:white;
    font-size: 40px;
    font-weight:100px;
}
.dance{
    color:white;
    font-style: italic;
    font-weight: 200px;
    font-size: 150px;
    margin-left:600px ;
}
.festival{
    color:white;
    font-style: italic;
    font-weight: 150px;
    font-size: 90px;
    margin-left: 600px;
}
.night{
    background-color: rgb(250, 62, 250);
    background-size: cover;
    width: 100%;
    height: 300px;
}
.night_club{
    color:white;
    font-style: italic;
    font-weight: 150px;
    font-size: 90px;
    /* margin-left: 600px; */
    text-align: center;

}
.vip{
    color: white;
}
.album{
    background-color: rgb(54, 52, 52);
    width: 100%;
    height:800px;
    padding: 60px;
    
}
.latests{
    color:white;
    font-style: italic;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    
}
.album1{
    margin-top: 60px;
    /* height: 400px;
    width:100px; */
}